<footer id="footer" class="flexRow hp vp">
    <div id="utn-frre-group" class="flexRow">
        <img src="/media/merge-white.png" alt="UTN" />
        <div>
            <p>UNIVERSIDAD TECNOLOGICA NACIONAL</p>
            <p>Facultad Regional de Resistencia</p>
        </div>
    </div>
    <div id="seu-group" class="flexRow">
        <img src="/media/seu-white.png" alt="SEU" />
        <p>Este sitio se encuentra bajo supervisión de la Secretaría de Extensión Universitaria.</p>
    </div>
</footer>
<script src="/vendor/flatpickr/flatpickr.min.js"></script>
<script src="/vendor/axios.min.js"></script>
<script src="/js/designController.js" type="module"></script>
<script src="/js/dataController.js" type="module"></script>