<header>
    <img src="media/rgt-white.png" alt="UTN-LOGO">
    <nav>
        <a href="#"><!--<i class="fas fa-bell(notification ? '' : '-slash')>"--></a>
        <a href="#">Pendientes</a>
        <a href="#">Cola de ejecución</a>
        <a href="#">Usuario</a>
    </nav>
</header>