button {
    width: 100%;
    border-top: 3px solid var(--border-primary-color);
    border-left: 3px solid var(--border-primary-color);
    border-right: 1px solid var(--border-primary-color);
    border-bottom: 1px solid var(--border-primary-color);

    * { color: var(--primary-font-color); }
    p { text-align: center; }
}

button:hover {
    border: none;
    border-right: 1px solid var(--border-primary-color);
    border-bottom: 1px solid var(--border-primary-color);
}

button:active {
    border: none;
    border-top: 1px solid var(--border-primary-color);
    border-left: 1px solid var(--border-primary-color);
}