button {
    border-top: 2px solid var(--border-primary-color);
    border-left: 2px solid var(--border-primary-color);
    max-width: var(--min-width);
    p { white-space: nowrap;}
}

button:hover {
    border: none;
    border-right: 1px solid var(--border-primary-color);
    border-bottom: 1px solid var(--border-primary-color);
}

button:active {
    border: none;
    border-top: 1px solid var(--border-primary-color);
    border-left: 1px solid var(--border-primary-color);
}