.card-container {
    background-color: var(--primary-color);
    width: clamp(500px, 90%, 1200px);
    margin: 10px 0;
    padding: 0.2%;
    * {
        color: var(--primary-font-color);
        font-size: 20px;
    }
    header {
        background-color: var(--tertiary-color);
        width: var(--full-width-parent);
        justify-content: space-between;
        padding: 0 10px;
        h2 {
            background-color: transparent;
            width: var(--full-width-parent);
            text-align: center;
        }

        i { background-color: transparent;}
    }

    main {
        background-color: var(--tertiary-color);
        opacity: 0.5;
        width: var(--full-width-parent);
    }
}