.dropdownList > li {
    background-color: var(--primary-color);
    border: 1px solid var(--border-primary-color);
    width: 100%;
    a {
        width: 100%;
        justify-content: end;
        padding: 3% 12%;
        gap: 10%;
        i { font-size: 25px;}
        &:hover, i:hover {
            color: var(--tertiary-font-color);
            i{color:var(--tertiary-font-color);}
            cursor:pointer;
        }
    }

    > p {
        padding: 3% 3%;
        text-align: start;
        font-size: 13px;
        cursor: pointer;
    }
}