.dropdown {
    position: relative;
    .dropdownSelector {   
    }
    .dropdownList {
        position: absolute;
        top: 100%;
        background-color: red;
        * {
            background-color: var(--primary-color);
            width: var(--full-width-parent);
            justify-content: end;
        }
    }
}