.selectContainer {
	position: relative;
	background-color: transparent;
	width: var(--full-width-parent);
	* { color: var(--primary-font-color);}

	> label {
		background-color: var(--primary-color);
		position: absolute;
		top: 25%;
		pointer-events: none;
		margin-left: 1px;
		transition: all 0.2s ease;
		z-index: 3;
	}
	label.active {
        transform: translateY(-90%) translateX(-12%) scale(0.7);
        border-left: 1px solid var(--border-primary-color);
        border-right: 1px solid var(--border-primary-color);
    }

	.choices {
		overflow: visible;
		margin:0 !important;
		.choices__inner {
			background-color: var(--primary-color);
			.choices__item--selectable {
				padding-top: 1%;
				color: var(--correct-font-color) !important;
			}
		}
		.choices__list--dropdown {
			background-color: transparent;
			border: none;
			z-index: 5;
	
			.choices__list {
				max-height: 200px;
				overflow-y: auto;
	
				scrollbar-width: none;
				-ms-overflow-style: none;
				&::-webkit-scrollbar {display: none;}
				.choices__item {
					background-color: var(--primary-color);
					border-left: 1px solid var(--border-primary-color);
					border-right: 1px solid var(--border-primary-color);
					border-radius: 5px;
					z-index:4;
					&:hover { color: var(--tertiary-font-color);}
				}
			}
		}
	}
}