.dropdown {
    position: relative;
    width: 100%;
    
    .dropdownList {
        justify-content: start;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: transparent;
        z-index: 4;
        max-height: 50vh;
        overflow-y: auto;
        scrollbar-width: none;
        &::-webkit-scrollbar{ display:none;}
    }
}