#nav_header {
    width: 100%;
    justify-content: end;

    * { color: var(--primary-font-color); }
    #nav_notifications {
        width: fit-content;
        .dropdownList { width: clamp(500px, 100%, 800px); }
    }
    #nav_menu {
        min-width: 200px;
        width: fit-content;
        max-width: 220px;
    }

    .dropdown button { border: none; }
    button:hover *, a:hover, a:hover * {
        color: var(--tertiary-font-color);
        font-weight: bolder;
    }

    @media(max-width:800px){
        flex-direction: column;
        gap: 5px;
        > *, #nav_menu {
            text-align: center;
            width: 100%;
            min-width:100%;
            max-width:100%;
            height: 40px;
        }
        #nav_menu button {
            gap: 10px;
            p { width: fit-content; }
        }
    }
}