.modal_container {
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    transition: opacity 0.3s ease;

    #modal {
        position: relative;
        background-color: transparent;
        width: clamp(450px, 60%, 800px);
        max-height: 90%;
        box-shadow: 0 0 8px var(--shadow);

        #close-modal {
            position: absolute;
            z-index: 11;
            color: var(--error-font-color);
            top: -13px;
            right: 20px;
            &:hover {
                font-size: 46px;
                right: 17px;
                top:-16px;
            }
            &:active {
                font-size: 40px;
                right: 20px;
                top: -13px;
            }
        }

        header, #modal_body, footer {
            width: var(--full-width-parent);
            border-left: 1px solid var(--border-tertiary-color);
            border-right: 1px solid var(--border-tertiary-color);
        }

        header {
            background-color: var(--primary-color);
            position: absolute;
            top:0;
            justify-content: start;
            border-top: 1px solid var(--border-tertiary-color);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            h2 {
                width: var(--full-width-parent);
                text-align: center;
                margin-right: 60px;
            }
        }
        #modal_body {
            overflow-y:auto;
            scrollbar-width: thin;
            background-color: var(--secondary-color);
            justify-content: start;
        }

        footer {
            background-color: var(--primary-color);
            position: absolute;
            bottom: 0;
            justify-content: space-between;
            border-bottom: 1px solid var(--border-tertiary-color);
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }
}