#ticket_collector {
    width: clamp(350px, 60%, 800px);

    #collector_header{
        width: var(--full-width-parent);
        height: auto;
        background-color: var(--secondary-color);

        h1 {
            text-align: center;
            font-size: 32px;
            font-weight: bolder;
            width: 250%;
        }
    }

    #collector_list {
        margin-top: 5px;
        height: 1400px;
        max-height: 1400px;
        
        overflow-y:auto;
        scrollbar-width:none;

        width: var(--full-width-parent);
        background-color: var(--primary-color);
    }
}