#header {
    background-color: var(--primary-color);
    width: clamp(var(--min-width), 100%, 100%);
    position:fixed;
    top:0;
    z-index: 10;
    justify-content: start;

    @media(max-width:800px){
        #logo { display: none;}
    }
}