<div class="flexColumn container_404">
    <h1>404 - Not Found</h1>
    <h2>Página no encontrada!!!</h2>
    <a href="/">
        <%= login ? 'Ir la lista de espera' : 'Iniciar Sesión' %>
    </a>
</div>