<p>Su contraseña ha sido correctamente actualizada.</p>

<div id="button_group" class="flexRow vp">

    <%- include(`${ejsPath}components/button`, {
        btn: { id:'confirm', type:'submit', classes:''},
        content: { name:'Ir a Inicio de Sesión', icon:''}
    }); %>
</div>