// layout
.flexRow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-among-elements);
}
.flexColumn {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: var(--space-among-elements);
}

// visibility
.hidden { display:none;}

.hp {
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);
}

.vp {
    padding-top: var(--vertical-padding);
    padding-bottom: var(--vertical-padding);
}

.fa-check { color: var(--correct-font-color) !important;}
.fa-times { color: var(--error-font-color) !important;}
.fa-triangle-exclamation { color: var(--warning-font-color) !important;}

.correct {
    border-color: var(--border-correct-color) !important;
    color: var(--correct-font-color) !important;
}

.error {
    border-color: var(--border-error-color) !important;
    color: var(--error-font-color) !important;
}