*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

ul, ol { list-style: none;}
a { text-decoration: none;}
img, video {
    height: 50px;
    width:auto;
}

button, input, textarea, select, option, label {
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: var(--font-size);
    font-family: var(--global-fonts);
}
p, h1, h2, h3, h4, h5, h6, a, li, option {
    font-size: var(--font-size);
    font-family: var(--global-fonts);
    text-align: start;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin:0;
}

input[type=number] { -moz-appearance: textfield;}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}