<!-- title, options:[ { value, content }, ... ] -->
<div id="collector_header" class="flexRow">
    <h1><%= title %></h1>
    <%- include('dropdowns/option-dropdown', {
        group: { id:'filtro_group', select:'filtro' },
        label: { id:'filtro_label', content:'Filtrar por ... ' },
        options
    }); %>
</div>