<li class="flexColumn">
    <a
        <%= get ? `href=${destination}` : `id=${destination}` %>
        class="flexRow"
    >
        <p><%= description %></p>
        <i class="<%= icon %>"></i>
    </a>
</li>