<li class="flexColumn">
    <a
        <%= get ? `href=${destination}` : `id=${destination}` %>
        class="flexRow"
    >
        <%- include(`${ejsPath}components/animated_paragraph.ejs`, {
			paragraph: description
		}); %>
        <i class="<%= icon %>"></i>
    </a>
</li>