<!--
    data = {
        group,
        property,
        type,
        required
    }
-->

<div id="name_group" class="name_group flexColumn">
    <label for="name_input" id="name_label" class="name_label">Nombre/s *</label>
    <div id="name_input_icon" class="name_input_icon">
        <input
            type="text"
            id="name_input"
            class="name_input"
            placeholder=""
            required
        />
        <i></i>
    </div>
    <p class="hidden">Mensaje de error</p>
</div>