<div id="<%= id %>" class="card-container flexColumn">
    <header class="flexRow">
        <h2><%= title %></h2>
        <i class="fas fa-chevron-down"></i>
    </header>
    <main class="card-body flexColumn">
        <%- content %>
    </main>
</div>