<nav id="nav_header" class="flexRow">
    <%- include(`${ejsPath}dropdowns/link-dropdown`, {
        id:"nav_notifications",
        classes:'',
        button:{
            btn: { id:'notifications_btn', type:'', classes:'' },
            content:{name:'', icon:'far fa-bell-slash'}
        },
        items: notifications,
		ejsPath
    }); %>
    <a href="/lista_de_espera" class="flexColumn">Tareas Pendientes</a>
    <a href="/cola_de_ejecucion" class="flexColumn">Cola de Ejecución</a>
    <%- include(`${ejsPath}dropdowns/link-dropdown`, {
        id:"nav_menu",
        classes:'',
        button:{
            btn: { id:'menu_btn', type:'', classes:'' },
            content: { name: fullName, icon:"far fa-user-circle"}
        },
        items: linkMenuOptions,
		ejsPath
    }); %>
</nav>