<!-- { title, content }-->

<div id="modal_container" class="modal_container flexColumn">
    <div id="modal" class="modal flexColumn">
        <i id="close-modal" class="fas fa-times-circle"></i>
        <header id="modal_header" class="flexRow hp">
            <img src="/media/rgt-white.png" alt="UTN-LOGO" id="logo" >
            <h2><%= title %></h2>
        </header>
        <div id="modal_body" class="flexColumn hp vp">
            <%- content %>
        </div>
        <footer id="modal_footer" class="flexRow hp">
            <img src="/media/merge-white.png" alt="UTN" />
            <img src="/media/seu-white.png" alt="SEU" />
        </footer>
    </div>
</div>