<!-- {
    group: { id:'', input:''},
    input: { id:'', type:'', req:},
    label: { id:'', content:''},
    validation: { regex, error_message }
} -->

<p>Se ha enviado un código de verificación a <strong><%= correo %></strong>. Cópielo aquí debajo para continuar:</p>

<%- include(`${ejsPath}components/input_group`, {
    group: { id:'code_group', input:'code_input'},
    input: { id:'code', type:'text', req:true},
    label: { id:'code_label', content:'Código de recuperación'},
    validation: {
        regex:/.*/,
        error_message: 'Código erróneo.'
    }
}); %>

<div id="button_group" class="flexRow vp">
    <%- include(`${ejsPath}components/button`, {
        btn: { id:'re-send_code', type:'submit', classes:''},
        content: { name:'Reenviar código', icon:''}
    }); %>

    <%- include(`${ejsPath}components/button`, {
        btn: { id:'confirm', type:'submit', classes:''},
        content: { name:'Confirmar', icon:''}
    }); %>
</div>