<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" type="image/png" href="/media/rgt-white.png" />
<link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css" />
<link rel="stylesheet" href="/vendor/flatpickr/flatpickr.min.css">
<link rel="stylesheet" href="/css/styles.min.css" />

<title>Rastreo - <%= title %></title>