// variables
@use 'variables' as var;
@use 'animations' as *;

// themes
@use 'themes/themes' as *;

// base
@use 'base/reset' as *;
@use 'base/global' as *;

// components
@use 'components/components' as *;

// layouts
@use 'layouts/header' as *;
@use 'layouts/main' as *;
@use 'layouts/footer' as *;