<!-- id, title -->

<div id="ticket_collector" class="flexColumn">
    <% if( id === 'waiting_list') { %>
        <%- include('components/ticket_collector_content/waiting_list', { id, title }); %>
    <% } else { %>
        <%- include('components/ticket_collector_content/execution_queue', { id, title }); %>
    <% } %>
</div>

<script type="module">
    import { radius } from '/js/utils.js';
    ((d) => {
        const list = d.getElementById('collector_list');
        radius(list, 30);
    })(document);
</script>